/* ========================================= 
CSS Functions for ease of writing
===========================================*/
.inline-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.wrap-flex {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  align-content: space-around;
  flex-wrap: wrap;
}
.abs-center-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.center-text {
  text-align: center;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
header nav ul {
  display: flex;
  justify-content: center;
  position: absolute;
  width: 100%;
  text-align: center;
}
header nav ul li {
  width: 150px;
}
header nav ul li a {
  display: block;
  height: 100%;
  width: 100%;
  padding: 15px 25px;
  color: white;
}
header nav ul li:nth-child(3) {
  width: auto;
}
header nav ul li:nth-child(3) a {
  background-color: rgba(255, 255, 255, 0.7);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  font-size: 1.8em;
}
.container {
  padding: 10px;
  width: 100%;
  height: 100%;
}
.row {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  align-content: space-around;
  flex-wrap: wrap;
  width: 100%;
}
/* ========================================= 
Responsive boxes & rows
===========================================*/
.page-wrapper {
  padding: 10px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0;
  height: auto;
}
.page-section {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 40px 40px;
}
@media screen and (min-width: 1000px) {
  .page-section > .container {
    width: 876px;
  }
}
.box-12 {
  width: 100%;
}
.box-11 {
  width: 91%;
}
.box-10 {
  width: 83%;
}
.box-9 {
  width: 75%;
}
.box-8 {
  width: 66%;
}
.box-7 {
  width: 58%;
}
.box-6 {
  width: 50%;
}
.box-5 {
  width: 41%;
}
.box-4 {
  width: 33%;
}
.box-3 {
  width: 25%;
}
.box-2 {
  width: 16%;
}
.box-1 {
  width: 8%;
}
@media screen and (max-width: 700px) {
  .box-mobile-12 {
    width: 100%;
  }
}
@media screen and (max-width: 700px) {
  .box-mobile-11 {
    width: 91%;
  }
}
@media screen and (max-width: 700px) {
  .box-mobile-10 {
    width: 83%;
  }
}
@media screen and (max-width: 700px) {
  .box-mobile-9 {
    width: 75%;
  }
}
@media screen and (max-width: 700px) {
  .box-mobile-8 {
    width: 66%;
  }
}
@media screen and (max-width: 700px) {
  .box-mobile-7 {
    width: 58%;
  }
}
@media screen and (max-width: 700px) {
  .box-mobile-6 {
    width: 50%;
  }
}
@media screen and (max-width: 700px) {
  .box-mobile-5 {
    width: 41%;
  }
}
@media screen and (max-width: 700px) {
  .box-mobile-4 {
    width: 33%;
  }
}
@media screen and (max-width: 700px) {
  .box-mobile-3 {
    width: 25%;
  }
}
@media screen and (max-width: 700px) {
  .box-mobile-2 {
    width: 16%;
  }
}
@media screen and (max-width: 700px) {
  .box-mobile-1 {
    width: 8%;
  }
}
@media screen and (min-width: 700px) {
  .box-tablet-12 {
    width: 100%;
  }
}
@media screen and (min-width: 700px) {
  .box-tablet-11 {
    width: 91%;
  }
}
@media screen and (min-width: 700px) {
  .box-tablet-10 {
    width: 83%;
  }
}
@media screen and (min-width: 700px) {
  .box-tablet-9 {
    width: 75%;
  }
}
@media screen and (min-width: 700px) {
  .box-tablet-8 {
    width: 66%;
  }
}
@media screen and (min-width: 700px) {
  .box-tablet-7 {
    width: 58%;
  }
}
@media screen and (min-width: 700px) {
  .box-tablet-6 {
    width: 50%;
  }
}
@media screen and (min-width: 700px) {
  .box-tablet-5 {
    width: 41%;
  }
}
@media screen and (min-width: 700px) {
  .box-tablet-4 {
    width: 33%;
  }
}
@media screen and (min-width: 700px) {
  .box-tablet-3 {
    width: 25%;
  }
}
@media screen and (min-width: 700px) {
  .box-tablet-2 {
    width: 16%;
  }
}
@media screen and (min-width: 700px) {
  .box-tablet-1 {
    width: 8%;
  }
}
@media screen and (min-width: 1000px) {
  .box-desktop-12 {
    width: 100%;
  }
}
@media screen and (min-width: 1000px) {
  .box-desktop-11 {
    width: 91%;
  }
}
@media screen and (min-width: 1000px) {
  .box-desktop-10 {
    width: 83%;
  }
}
@media screen and (min-width: 1000px) {
  .box-desktop-9 {
    width: 75%;
  }
}
@media screen and (min-width: 1000px) {
  .box-desktop-8 {
    width: 66%;
  }
}
@media screen and (min-width: 1000px) {
  .box-desktop-7 {
    width: 58%;
  }
}
@media screen and (min-width: 1000px) {
  .box-desktop-6 {
    width: 50%;
  }
}
@media screen and (min-width: 1000px) {
  .box-desktop-5 {
    width: 41%;
  }
}
@media screen and (min-width: 1000px) {
  .box-desktop-4 {
    width: 33%;
  }
}
@media screen and (min-width: 1000px) {
  .box-desktop-3 {
    width: 25%;
  }
}
@media screen and (min-width: 1000px) {
  .box-desktop-2 {
    width: 16%;
  }
}
@media screen and (min-width: 1000px) {
  .box-desktop-1 {
    width: 8%;
  }
}
@media screen and (max-width: 700px) {
  .mobile-hidden {
    display: none !important;
  }
}
@media screen and (min-width: 700px) and (max-width: 1000px) {
  .tablet-hidden {
    display: none !important;
  }
}
@media screen and (min-width: 1000px) {
  .desktop-hidden {
    display: none !important;
  }
}
@media screen and (min-width: 700px) and (max-width: 1000px) {
  .mobile-only {
    display: none !important;
  }
}
@media screen and (min-width: 1000px) {
  .mobile-only {
    display: none !important;
  }
}
@media screen and (max-width: 700px) {
  .tablet-only {
    display: none !important;
  }
}
@media screen and (min-width: 1000px) {
  .tablet-only {
    display: none !important;
  }
}
@media screen and (max-width: 700px) {
  .desktop-only {
    display: none !important;
  }
}
@media screen and (min-width: 700px) and (max-width: 1000px) {
  .desktop-only {
    display: none !important;
  }
}
.hide-slide {
  display: none;
}
.slider-component {
  display: flex;
  align-items: center;
}
.slider-component .previous-arrow {
  font-size: 32px;
  height: 32px;
  width: 32px;
  background-color: black;
  color: white;
  padding: 8px;
}
.slider-component .forward-arrow {
  font-size: 32px;
  height: 32px;
  width: 32px;
  background-color: black;
  color: white;
  padding: 8px;
}
.slider-component img {
  width: 100%;
}
body {
  box-sizing: border-box;
  font-family: "Kodchasan";
}
h1 {
  font-family: "Kodchasan";
}
h2,
h3,
h4,
h5 {
  font-family: "Merriweather";
  font-size: 24px;
}
h2 {
  font-size: 2.5rem;
  text-decoration: underline;
  margin-bottom: 15px;
}
.page-section:nth-child(even) {
  background-color: grey;
}
.page-section:last-child {
  background-color: #32b932;
}
.call-to-action {
  text-align: center;
  background-image: url("https://images.pexels.com/photos/1257110/pexels-photo-1257110.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  background-size: cover;
  background-position: top;
  height: 650px;
  border-bottom: 8px solid green;
  color: white;
}
.call-to-action div {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(rgba(50, 185, 50, 0.7), rgba(120, 180, 120, 0.7));
}
.call-to-action h1 {
  padding-top: 265px;
  font-size: 3rem;
}
.call-to-action h3 {
  margin: 25px;
  font-size: 1.6rem;
}
.overview-item img {
  width: 70%;
}
.overview-item p {
  padding: 20px;
}
.button {
  padding: 14px 25px;
  display: block;
  border-radius: 25px;
  border: 4px solid white;
  background-color: transparent;
  text-decoration: none;
}
@media screen and (min-width: 1000px) {
  .button {
    width: 175px;
    margin: 10px auto;
  }
}
.primary-button {
  padding: 14px 25px;
  display: block;
  border-radius: 25px;
  border: 4px solid white;
  background-color: transparent;
  text-decoration: none;
  border-color: green;
  color: green;
}
@media screen and (min-width: 1000px) {
  .primary-button {
    width: 175px;
    margin: 10px auto;
  }
}
.default-button {
  padding: 14px 25px;
  display: block;
  border-radius: 25px;
  border: 4px solid white;
  background-color: transparent;
  text-decoration: none;
  color: white;
}
@media screen and (min-width: 1000px) {
  .default-button {
    width: 175px;
    margin: 10px auto;
  }
}
footer {
  text-align: center;
  background-color: black;
  padding: 25px;
}
