@main-color: green;
@secondary-color: rgb(50,185,50);

@light-color: rgb(120,180,120);
@dark-color:  rgb(12,120,12);

@highlight-color: blue;
@contrast-color: orange;

@black-color: black;
@white-color: white;
@grey-color: grey;
