.arrow(){
    position:absolute;

        span {
        font-size:32px;
        height:32px;
        width:32px;
        background-color:fadeOut(@black-color, 70%);
        color:white;
        padding:8px;
        border-radius:100%;
        text-align:center;
        cursor: pointer;
        &:hover {
            background-color:@black-color;
        }
    }
}

.hide-slide {
    display:none;
}

.slider-slide {
    position:relative;
}

.slider-component {
    display:flex;
    align-items:center;

    &:hover {
        .forward-arrow span {
            background-color:fadeOut(@black-color, 50%);
        }
        .previous-arrow span {
            background-color:fadeOut(@black-color, 50%);
        }   
    }
    .previous-arrow {
        .arrow();
        text-align:left;
        left:0;
        span { 
            margin-left:10px;
        }
    }    

    .forward-arrow {
        .arrow();
        text-align:right;
        right:0;
        span {
            margin-right:10px;
            }
    } 

    img {width:100%;}

}